<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IRaceConfig" value="NE"></add>
		<!--通过类型名称获取-->
		<!--<add key="IRaceReflect" value="FactoryPattern.War3.Service.NE,FactoryPattern.War3.Service"></add>-->
		<!--通过加载dll获取-->
		<add key="IRaceReflect" value="FactoryPattern.War3.ServiceExtend.Five,FactoryPattern.War3.ServiceExtend.dll"></add>
	</appSettings>
</configuration>