<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings >
		<add key="1" value="StrategyPattern.Service.dll,StrategyPattern.Service.Deduction"/>
		<add key="2" value="StrategyPattern.Service.dll,StrategyPattern.Service.Discount"/>
		<add key="3" value="StrategyPattern.Service.dll,StrategyPattern.Service.GiveAway"/>
		<add key="4" value="StrategyPattern.ServiceExtend.dll,StrategyPattern.ServiceExtend.Draw"/>

	</appSettings>
</configuration>